body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 400px;
    text-align: center;
}

.logo-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.logo {
    width: 80px; /* Ajusta el tamaño según sea necesario */
    height: auto; /* Mantiene la proporción de la imagen */
  }

h1 {
    font-size: 28px;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 14px;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

button {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.terms {
    font-size: 12px;
    color: #666;
    margin-top: 15px;
    text-align: left;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    margin-bottom: 10px; 
  }